html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #00539F;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;  
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

h2 {
  margin: 0;
  padding: 20px 0;  
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 50px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.button 
{
	display: inline-block;
	padding: 15px 20px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #00aeff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
.button:hover {background-color: #007fba}
.button:active 
{
	background-color: #007fba;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
